extra/
SESSION_CONTEXT.md
temporary-working-folder/
dc_workshop.zip
dc_workshop/
backup_dc_workshop/

.DS_Store
*.swp

*.fastq.gz

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# Ruby
vendor/
.bundle/

